@import "tailwindcss";
body {
  font-family: var(--font-work-sans);
  font-weight: 600; /* default */
  font-size: 18px;  /* bigger text */
}

.bg-striped {
  @apply bg-white; /* base white background */
  background-image: repeating-linear-gradient(
    to right,
    theme('colors.gray.200') 0px,
    theme('colors.gray.200') 2px,
    theme('colors.white') 2px,
    theme('colors.white') 27px
  );
}

        .no-scrollbar::-webkit-scrollbar {
          display: none;
        }
        .no-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }